@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

.myfooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100%;
  background-color: var(--myblack);
  color: var(--mywhite);
}

.arrange{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logof{
  width: 200px;
  opacity: 80%;
}
.logof img{
  display: flex;
  align-items: center;
  width: 100%; 
}

.mid2{
  display: flex;
  justify-content: flex-start;
  padding:10px 0 0 40px;
  gap: 20px;
}

.mid2 a{
  text-decoration: none;
}

.icons3{
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 0 40px;
  gap: 20px;
}

.icons3 div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.copy1{
  display: block;
  text-align: center;
  font-size: var(--fontsizeVsm);
  padding: 20px 0;
}
.num{
  font-family: 'Ubuntu', sans-serif;
}
/* ============ rwd start =========== */

@media screen and (max-width: 699px){
  .arrange{
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .logof{
    width: 100px;
    align-items: center;
  }
  .mid2{
    justify-content: center;
    padding:5px 0 0 20px;
    gap: 10px;
  }
  .icons3{
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 10px;
  }


}