@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&family=Ubuntu:wght@300;500;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border border-box;
  font-family: 'Poppins', sans-serif;
}


:root{
  --myblack: #060608;
  --myblack2: #222831;
  --mygrey: #ececec;
  --mygrey2: #adaca7;
  --mygrey3: #dee1ec;
  --mywhite: #fff;
  --myred: #c50000;
  --myred2: #e70000;
  --mytransparent: var(--mygrey2 0.03);

  --clasic-font: "nothing you could do";
  --fontsizeBig: 50px;
  --fontsizeSm: 18px;
  --fontsizeVsm: 13px;
  --fontsizeMe: 30px;
  
}

/* ====================== sec 1 start ===================== */

.sec1{
  padding: 100px 8%;
  padding-bottom: 50px;
  background-color: var(--mygrey);
}

.intro{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  height: 100%;
}

.txt1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  border-radius: 15px;
  overflow: hidden;
  background: transparent;
  position: relative;
  z-index: 1;
  height: 90%;
  width: 90%;

}

.txt1::before{  
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url("../src/components/media/office\ desk.jpg");
  transform: rotate(270deg) scale(1.2);
  position: absolute;
  top:0;
  left: -20px;
}

.bg1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
  opacity: 60%;
  animation: mymove ease-in 5s infinite ;
  

}

@keyframes mymove{
  0%{background-color: #772102; transition: all 0.5s}
  20% {background-color: #004157; translate: (75deg);}
  40% {background-color: purple;}
  60% { background-color: #004b00;}
  80% { background-color: #525200;}
  100% { background-color: #006b96;transition: ease-in-out 0.5s;}
   
}


.txt1 h4{
  font-size: 20px;
  font-weight: 400;
  color: var(--mywhite);
  text-shadow: 0 5px 5px 5px #141414;
}

.txt1 h1{
  font-size: 80px;
  color: var(--mywhite);
  text-shadow: 0 5px 5px 5px #161616;
}
.txt1 p{
  font-size: 20px;
  font-weight: 500;
  color: var(--mywhite);
}
.txt1 span{
  font-size: 16px;
}

.hireMe, .contactMe{
  margin-top: 20px;
  background-color: var(--mygrey);
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--myblack);
  cursor: pointer;
  border: none;

  background: linear-gradient(to right, var(--myblack) 50%, var(--mygrey) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .7s ease-out;
    border-radius: 20px;
}

.hireMe:hover, 
.contactMe:hover{
  background-position: left bottom;
  color: var(--mywhite);
}



.contactMe{
  margin-left: 20px;
}


.image1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 30px;
  border-radius: 15px;
  background-color: black;
  height: 90%;
}

.image1 img{
 width: 90%;
}
/* ====================== rwd start ===================== */
@media screen and (max-width: 699px){
  .intro{
    grid-template-columns: 1fr;
  }
  .txt1{
    margin-top: 10%;
    height: 90%;
    margin-bottom: 40px;
    width: 80%;
  }
  .txt1 h4{
    font-size: var(--fontsizeSm);
    font-weight: 400;
    padding-top: 0px;
  }
  .txt1 h1{
    font-size: var(--fontsizeMe);
  
  }
  .txt1 p{
    padding-top: 8px;
    font-size: var(--fontsizeVsm);
   
  }
  .txt1 span{
    font-size: 10px;
  }
  .hireMe, .contactMe{
    padding: 5px 10px;
  }
  
  .txt1::before{
    top: 0;
  }

  .image1{
    height: 80%;
    width: 80%;
  }
  .image1 img{
    width: 90%;
  }
  
}
@media (min-width:700px) and (max-width:1050px){
  .txt1{
    height: 80%;
  }
  
  .txt1 h4{
    font-size: var(--fontsizeSm);
    font-weight: 400;
    padding-top: 0px;
  }
  .txt1 h1{
    font-size: var(--fontsizeBig);
  
  }
  .txt1 p{
    padding-top: 8px;
    font-size: var(--fontsizeSm);
   
  }
  .txt1 span{
    font-size: 10px;
  }
  .hireMe, .contactMe{
    padding: 10px 20px;
  }
  
  .txt1::before{
    top: 0;
  }
  .image1{
    height: 80%;
  }
  .image1 img{
    width: 80%;
  }
}
/* ====================== sec1 end ===================== */

/* ====================== sec2 start ===================== */


.sec2{
  position: relative;
  padding: 0 8%;
  min-height: 100vh;
}

.image2{
  position: absolute;
  top:3%;
  left: 0;
}

.image2 img{
  width: 100%;
}

.txt2{
  position: absolute;
  left: 9%;
  top: 30%;
  color: var(--myblack2);
  font-size: 40px;
}
.txt3{
  left: 9%;
  top: 25%;
  position: absolute;
}
.txt5{
  left: 9%;
  position: absolute;
  top: 50%;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-bottom: 20px;
  gap: 30px;
  padding-top: 22%;
}
.see{
  font-size: var(--fontsizeVsm);
  font-weight: 300;
  color: var(--myblack2);
  padding-bottom: 10px;
  padding-left: 20px ;
}
.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  gap: 0px;
}
.card:hover{
  box-shadow: 7px 7px 7px 5px lightgray;
  transform: scale(1.05);
  transition: all 0.5s;
}
.card img{
  width: 100%;
}
.des{
  height:45px;
  background-color: var(--myblack);

  display: flex;
  justify-content: center;
  align-items: center;
}
.des p{
  color: var(--mywhite);
  font-size: var(--fontsizeVsm);
  font-weight: 400;
}

@media screen and (max-width: 699px){
  .sec2{
    min-height: auto;
  }

  .image2{
    position: absolute;
    top:8%;
    left: 0;
  }
 
  .txt2{
    font-size:20px;
    top: 20%;
  }

  .txt3{
    font-size: var(--fontsizeVsm);
    top: 10%;
  }
  .txt5{
    font-size: var(--fontsizeVsm);
    bottom: 40%;
  }


  .container{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 45%;
  }
  .container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
    width: 90%;
  }
  .des{
    width: 100%;
    box-shadow: 0 0 10px 5px lightgray;
  }
  .des p{
    font-weight: 300;
    font-size: 12px;
  }

}

@media (min-width:700px) and (max-width:1050px){
  .sec2{
    min-height: auto;
  }
  .txt2{
    font-size: var(--fontsizeMe);
  }

  .txt3{
    font-size: var(--fontsizeSm);
    top: 20%;
  }
  .txt5{
    font-size: var(--fontsizeSm);
    bottom: 45%;
  }
  .container{
    grid-template-columns: 1fr 1fr;
    padding-top: 30%;
  }
  .image2{
    position: absolute;
    top:8%;
    left: 0;
  }
 
}
/* =============== sec 2 end ================ */
/* =============== sec 3 end ================ */

.sec3{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 8%;
  position: relative;

  background-image: url(../src/components/media/skill.png);
  background-size: 100%;
}

.image4{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0) 0.01;
  backdrop-filter: blur(3px);

}
.skill{
  color: var(--mywhite);
  font-size: var(--fontsizeMe);
  font-weight: 600;
  margin-left: 10%;
}
.skillset{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.skillset ul{
  border: 3px solid var(--mywhite);
  height: 50%;
  padding:  20px 30px;
  color: var(--mywhite);
  border-radius: 15px;
}
@media screen  and (max-width: 699px) {
  .sec3{
    height: auto;
    padding-bottom: 40px;
  }
  .skill{
    font-weight: 400;
  }
  .skillset{
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 100px;
  }
  .skillset ul{
    height: 75%;
  }
}

@media (min-width: 700px) and (max-width: 1050px){
  .sec3{
    height: auto;
    padding-bottom:50px ;
  }
  .skillset{
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 150px;
  }
  .skillset ul{
    height: 80%;
  }
}
